---
layout: default
---

<div class="centeredPanel">
	<div class="centeredBox">
		<div class="lightningBorderBox">
			<div class="lightningInsideBox">Welcome to my site! I am a software engineer with a focus in developing interactive experiences, from games to web design* to UI and more. Talking about myself is not my forte, but feel free to look around! Just keep in mind that more up-to-date samples of my work will be added to this page in the near future. *Also, please excuse the web design of this particular site. I made this from scratch years ago. Updating the design and making it more mobile-friendly and accessible are all on my to-do list. - 8/21/24 </div>
		</div>
	</div>
</div>

<div class="centeredPanel">
	<div class="inlinePanel">
		<div class="imageBorderSpacing">
			<span class="imageMargin">
				<img class="imageCornerClip" src="https://66.media.tumblr.com/c089385bfb7e2cb15d1716bf965776b6/tumblr_inline_ps590vPGJO1r319t4_1280.png">
			</span>
			<span class="imageBorder">
				<div>
					<img class="imgBorderTopLeft" src="images/borderTopLeft.png">
					<img class="imgBorderTop" src="images/borderTop.png">
					<img class="imgBorderTopRight" src="images/borderTopRight.png">
				</div>
				<div>
					<img class="imgBorderLeft" src="images/borderLeft.png">
					<img class="imgBorderRight" src="images/borderRight.png">
				</div>
				<div>
					<img class="imgBorderBottomLeft" src="images/borderBottomLeft.png">
					<img class="imgBorderBottom" src="images/borderBottom.png">
					<img class="imgBorderBottomRight" src="images/borderBottomRight.png">
				</div>
			</span>
		</div>
	</div>
	<div class="inlinePanel">
		<div class="lightningBorderBoxOuter">
			<div class="lightningBorderBoxInner">
				<div class="lightningInsideSmallBox">Bark City Brawl
A 3D, first-person, multiplayer brawler.
For.............A game jam hosted by the Dallas Society of Play, working in a team with local developers.
Tasks........Programming, specifically player/item billboarding and UI, among other things.
Using........Unity, C#</div>
				<div class="buttonPanelSmall">
					<div class="lightningBorderButton">
						<a href="https://www.youtube.com/watch?v=1NodrsiGKZE" class="lightningInsideButton">Video</a>
					</div>
					<div class="lightningBorderButton">
						<a href="https://raindelay.itch.io/barkcitybrawl" class="lightningInsideButton">Itch.io</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="centeredPanel">
	<div class="inlinePanel">
		<div class="lightningBorderBoxOuter">
			<div class="lightningBorderBoxInner">
				<div class="lightningInsideSmallBox">A 2.5D music game which also teaches basic music notation.
For.............My ATEC capstone.
Tasks........Programming, design, and music composition.
Using........Unity, C#</div>
				<div class="buttonPanelSmall">
					<div class="lightningBorderButton">
						<a href="https://drive.google.com/file/d/1an_OiLf3NNuS_35uoAr6_Daq8hF4CvVI/view?usp=sharing" class="lightningInsideButton">Download</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="inlinePanel">
		<div class="imageBorderSpacing">
			<span class="imageMargin">
				<img class="imageCornerClip" src="https://i.imgur.com/UiwspQe.png">
			</span>
			<span class="imageBorder">
				<div>
					<img class="imgBorderTopLeft" src="images/borderTopLeft.png">
					<img class="imgBorderTop" src="images/borderTop.png">
					<img class="imgBorderTopRight" src="images/borderTopRight.png">
				</div>
				<div>
					<img class="imgBorderLeft" src="images/borderLeft.png">
					<img class="imgBorderRight" src="images/borderRight.png">
				</div>
				<div>
					<img class="imgBorderBottomLeft" src="images/borderBottomLeft.png">
					<img class="imgBorderBottom" src="images/borderBottom.png">
					<img class="imgBorderBottomRight" src="images/borderBottomRight.png">
				</div>
			</span>
		</div>
	</div>
</div>

<div class="centeredPanel">
	<div class="inlinePanel">
		<div class="imageBorderSpacing">
			<span class="imageMargin">
				<img class="imageCornerClip" src="https://i.imgur.com/aUZYSgo.png">
			</span>
			<span class="imageBorder">
				<div>
					<img class="imgBorderTopLeft" src="images/borderTopLeft.png">
					<img class="imgBorderTop" src="images/borderTop.png">
					<img class="imgBorderTopRight" src="images/borderTopRight.png">
				</div>
				<div>
					<img class="imgBorderLeft" src="images/borderLeft.png">
					<img class="imgBorderRight" src="images/borderRight.png">
				</div>
				<div>
					<img class="imgBorderBottomLeft" src="images/borderBottomLeft.png">
					<img class="imgBorderBottom" src="images/borderBottom.png">
					<img class="imgBorderBottomRight" src="images/borderBottomRight.png">
				</div>
			</span>
		</div>
	</div>
	<div class="inlinePanel">
		<div class="lightningBorderBoxOuter">
			<div class="lightningBorderBoxInner">
				<div class="lightningInsideSmallBox">Marbelous Melody
A first-person platformer music game that converts MIDI to platforms.
For.............A game for my music history course.
Tasks........Programming, design, and music composition.
Using........Unity, C#</div>
				<div class="buttonPanelSmall">
					<div class="lightningBorderButton">
						<a href="https://drive.google.com/open?id=1pOrMR-R2jPK9XSvep0Qq7DPhPPC_5hPk" class="lightningInsideButton">Download</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="centeredPanel">
	<div class="inlinePanel">
		<div class="lightningBorderBoxOuter">
			<div class="lightningBorderBoxInner">
				<div class="lightningInsideSmallBox">Equipment Maintenance in VR
A simulation teaching how to use Vive controls and repair a diesel generator.
For.............My CS senior design project, working in a team. (We won 3rd best!)
Tasks........Programming, some design elements, and voice-over.
Using........Unity, C#, HTC Vive</div>
				<div class="buttonPanelSmall">
					<div class="lightningBorderButton">
						<a href="https://www.youtube.com/watch?v=swPMTbxEQtU" class="lightningInsideButton">Video</a>
					</div>
					<div class="lightningBorderButton">
						<a href="https://github.com/SharonLougheed/Equipment-Maintenance-in-VR" class="lightningInsideButton">Repo</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="inlinePanel">
		<div class="imageBorderSpacing">
			<span class="imageMargin">
				<img class="imageCornerClip" src="https://i.imgur.com/Rf3Wmaz.png">
			</span>
			<span class="imageBorder">
				<div>
					<img class="imgBorderTopLeft" src="images/borderTopLeft.png">
					<img class="imgBorderTop" src="images/borderTop.png">
					<img class="imgBorderTopRight" src="images/borderTopRight.png">
				</div>
				<div>
					<img class="imgBorderLeft" src="images/borderLeft.png">
					<img class="imgBorderRight" src="images/borderRight.png">
				</div>
				<div>
					<img class="imgBorderBottomLeft" src="images/borderBottomLeft.png">
					<img class="imgBorderBottom" src="images/borderBottom.png">
					<img class="imgBorderBottomRight" src="images/borderBottomRight.png">
				</div>
			</span>
		</div>
	</div>
</div>


<div class="centeredPanel">
	<div class="inlinePanel">
		<div class="imageBorderSpacing">
			<span class="imageMargin">
				<img class="imageCornerClip" src="https://i.imgur.com/xqXszjC.png">
			</span>
			<span class="imageBorder">
				<div>
					<img class="imgBorderTopLeft" src="images/borderTopLeft.png">
					<img class="imgBorderTop" src="images/borderTop.png">
					<img class="imgBorderTopRight" src="images/borderTopRight.png">
				</div>
				<div>
					<img class="imgBorderLeft" src="images/borderLeft.png">
					<img class="imgBorderRight" src="images/borderRight.png">
				</div>
				<div>
					<img class="imgBorderBottomLeft" src="images/borderBottomLeft.png">
					<img class="imgBorderBottom" src="images/borderBottom.png">
					<img class="imgBorderBottomRight" src="images/borderBottomRight.png">
				</div>
			</span>
		</div>
	</div>
	<div class="inlinePanel">
		<div class="lightningBorderBoxOuter">
			<div class="lightningBorderBoxInner">
				<div class="lightningInsideSmallBox">Drearily Dreaming
A 3D, first-person psychological horror inspired by Yume Nikki.
For.............UTD Game Lab, working in a team.
Task..........Creative director
Using........Unity, C#</div>
			<div class="buttonPanelSmall">
				<div class="lightningBorderButton">
					<a href="https://www.youtube.com/watch?v=IaA00lluULk" class="lightningInsideButton">Video</a>
				</div>
				<div class="lightningBorderButton">
					<a href="https://github.com/SharonLougheed/DrearilyDreaming/releases/download/v0.12.4/DrearilyDreaming_v0.12.4_final.zip" class="lightningInsideButton">Download</a>
				</div>
				<div class="lightningBorderButton">
					<a href="https://github.com/SharonLougheed/DrearilyDreaming" class="lightningInsideButton">Repo</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="centeredPanel">
	<div class="inlinePanel">
		<div class="lightningBorderBoxOuter">
			<div class="lightningBorderBoxInner">
				<div class="lightningInsideSmallBox" style="margin-bottom: 40px;">Capture-the-Flag AI Agent
An AI agent in a capture-the-flag game.
For.............My Artificial Intelligence course
Task..........D* Lite implementation and game logic
Using........Java</div>
				
				<div class="buttonPanelSmall">
					<div class="lightningBorderButton">
						<a href="https://www.youtube.com/watch?v=duKcK3BAeXY" class="lightningInsideButton">Video</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="inlinePanel">
		<div class="imageBorderSpacing">
			<span class="imageMargin">
				<img class="imageCornerClip" src="https://i.imgur.com/NhuMZcP.png">
			</span>
			<span class="imageBorder">
				<div>
					<img class="imgBorderTopLeft" src="images/borderTopLeft.png">
					<img class="imgBorderTop" src="images/borderTop.png">
					<img class="imgBorderTopRight" src="images/borderTopRight.png">
				</div>
				<div>
					<img class="imgBorderLeft" src="images/borderLeft.png">
					<img class="imgBorderRight" src="images/borderRight.png">
				</div>
				<div>
					<img class="imgBorderBottomLeft" src="images/borderBottomLeft.png">
					<img class="imgBorderBottom" src="images/borderBottom.png">
					<img class="imgBorderBottomRight" src="images/borderBottomRight.png">
				</div>
			</span>
		</div>
	</div>
</div>

<div class="centeredPanel">
	<div class="inlinePanel">
		<div class="imageBorderSpacing">
			<span class="imageMargin">
				<img class="imageCornerClip" src="https://i.imgur.com/tjnpw5V.png">
			</span>
			<span class="imageBorder">
				<div>
					<img class="imgBorderTopLeft" src="images/borderTopLeft.png">
					<img class="imgBorderTop" src="images/borderTop.png">
					<img class="imgBorderTopRight" src="images/borderTopRight.png">
				</div>
				<div>
					<img class="imgBorderLeft" src="images/borderLeft.png">
					<img class="imgBorderRight" src="images/borderRight.png">
				</div>
				<div>
					<img class="imgBorderBottomLeft" src="images/borderBottomLeft.png">
					<img class="imgBorderBottom" src="images/borderBottom.png">
					<img class="imgBorderBottomRight" src="images/borderBottomRight.png">
				</div>
			</span>
		</div>
	</div>
	<div class="inlinePanel">
		<div class="lightningBorderBoxOuter">
			<div class="lightningBorderBoxInner">
				<div class="lightningInsideSmallBox">Unlawful
A 2D murder mystery game.
For.............UTD Game Lab, working in a team.
Task..........Programming, incl. player movement, cameras, and NPC movement.
Using........Unity, C#</div>
			<div class="buttonPanelSmall">
				<div class="lightningBorderButton">
					<a href="https://github.com/bethjweeren/ATCM-Unlawful/releases/download/1.0.0/ATCM-Unlawful-Week14-Gold-WithoutKeywords.zip" class="lightningInsideButton">Download</a>
				</div>
				<div class="lightningBorderButton">
					<a href="https://github.com/bethjweeren/ATCM-Unlawful" class="lightningInsideButton">Repo</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="centeredPanel">
	<div class="inlinePanel">
		<div class="lightningBorderBoxOuter">
			<div class="lightningBorderBoxInner">
				<div class="lightningInsideSmallBox">Hunt the Wumpus
A 3D strategy game created with Microsoft XNA.
For.............Intro to Game Programming.
Task..........Programming and design.
Using........Microsoft XNA, C#</div>
				<div class="buttonPanelSmall">
					<div class="lightningBorderButton">
						<a href="https://drive.google.com/open?id=1rULc6GY0i-QiOE-Ex95BqE8M-b8R0N8X" class="lightningInsideButton">Download</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="inlinePanel">
		<div class="imageBorderSpacing">
			<span class="imageMargin">
				<img class="imageCornerClip" src="https://i.imgur.com/avEWjqI.png">
			</span>
			<span class="imageBorder">
				<div>
					<img class="imgBorderTopLeft" src="images/borderTopLeft.png">
					<img class="imgBorderTop" src="images/borderTop.png">
					<img class="imgBorderTopRight" src="images/borderTopRight.png">
				</div>
				<div>
					<img class="imgBorderLeft" src="images/borderLeft.png">
					<img class="imgBorderRight" src="images/borderRight.png">
				</div>
				<div>
					<img class="imgBorderBottomLeft" src="images/borderBottomLeft.png">
					<img class="imgBorderBottom" src="images/borderBottom.png">
					<img class="imgBorderBottomRight" src="images/borderBottomRight.png">
				</div>
			</span>
		</div>
	</div>
</div>

<div class="centeredPanel">
	<div class="lightningBorderBoxOuter">
		<div class="lightningBorderBoxInner">
			<div class="lightningInsideSmallBox" style="text-align: center">Additional Games from Older Portfolio
Yeah, there's more!</div>
		<div class="buttonPanelSmall">
			<div class="lightningBorderButton">
				<a href="https://sharonlougheed.wixsite.com/portfolio" class="lightningInsideButton">Old Games</a>
			</div>
		</div>
	</div>
</div>