<!DOCTYPE html>
<html>
	<link rel="icon" 
		  type="image/png" 
		  href="favicon.png">
	<head>
		<title>Sharon Lougheed</title>
		<link rel="stylesheet" href="styles.css">
	</head>
	<!-- Please don't make conclusions about my programming skillz based on the source of this website.
	 I cringe at the divs inside of divs inside of divs and the singular long class name per element thing I had going on.
	 I really want to rewrite this whole thing from scratch...-->
	<body>
		<h1 ><a href="index.html" class="titleCard"><div class="titleCardText">Sharon Lougheed</div></a></h1>
		{% include nav.html %}
		<main>
			{{ content | rstrip }}
		</main>
	</body>
</html>
